openapi: 3.0.1
info:
  title: SignWell Developer API Application Me API
  description: API for creating, managing, and tracking electronic signature workflows.
  version: v1
  termsOfService: https://www.signwell.com/terms/
  contact:
    email: support@signwell.com
servers:
- url: https://www.signwell.com
tags:
- name: Me
  description: Retrieve account information for the authenticated API key.
paths:
  /api/v1/me:
    get:
      summary: Get credentials
      description: Retrieves the account information associated with the API key being used.
      tags:
      - Me
      security:
      - api_key: []
      operationId: getMe
      responses:
        '200':
          description: successful
          content:
            application/json:
              example:
                id: 2efeb26c-f151-4ff7-9341-81d5741f5e28
                role: owner
                archived: false
                user:
                  id: b4905391-fd3b-402c-a8ca-b3201a5549c0
                  name: Snuffles
                  email: snuffles_115@hoeger.test
                  has_google_registration: false
                  first_name: Snuffles
                account:
                  id: 0bdaab15-ae90-4638-8b43-60b6ca3a5032
                  name: Gleichner, Kohler and Ruecker
                  plan_tier: free
                  active_templates: 0
                  can_create_template: true
                  can_create_tracking_document: true
                  can_create_completion_document: true
                  active_users:
                  - id: b4905391-fd3b-402c-a8ca-b3201a5549c0
                    name: Snuffles
                    email: snuffles_115@hoeger.test
                    has_google_registration: false
                workspace:
                  id: 0bdaab15-ae90-4638-8b43-60b6ca3a5032
                  name: Gleichner, Kohler and Ruecker
                  plan_tier: free
                  active_templates: 0
                  can_create_template: true
                  can_create_tracking_document: true
                  can_create_completion_document: true
                  active_users:
                  - id: b4905391-fd3b-402c-a8ca-b3201a5549c0
                    name: Snuffles
                    email: snuffles_115@hoeger.test
                    has_google_registration: false
                contact:
                  id: bd5ebc93-bfb3-4a0b-ac31-545bd756236b
                  email: snuffles_115@hoeger.test
                  name: Snuffles
                  company_name: Koch Group
                  phone_number: (956) 121-4217
                  alt_phone_number: 464 603 7752
                  website: http://mann.test/lorriane
                  initials: SN
                  archived: false
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          description: unauthorized
          content:
            application/json:
              example:
                message: Missing or invalid authorization key
                meta:
                  error: api_key_unauthorized_error
                  message: Not valid authorization token
                  messages:
                  - Not valid authorization token
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitErrorResponse'
components:
  schemas:
    AccountInfoResponse:
      type: object
      description: Account or workspace information
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        plan_tier:
          type: string
        active_templates:
          type: integer
        can_create_template:
          type: boolean
        can_create_tracking_document:
          type: boolean
        can_create_completion_document:
          type: boolean
        active_users:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              email:
                type: string
                format: email
              has_google_registration:
                type: boolean
            required:
            - id
            - name
            - email
        preferences:
          type: object
          properties:
            date_format:
              type: string
            days_until_links_expire:
              type: integer
            disable_apply_everywhere:
              type: boolean
            disable_apply_everywhere_effective:
              type: boolean
            disable_drawn_signatures:
              type: boolean
            disable_typed_signatures:
              type: boolean
            disable_uploaded_signatures:
              type: boolean
            enable_redirect:
              type: boolean
            hide_document_id_in_audit:
              type: boolean
            mute_branding:
              type: boolean
            redirect_url:
              type: string
              nullable: true
            separate_audit_pdf:
              type: boolean
            separate_completed_file:
              type: boolean
            enable_nom151_compliance:
              type: boolean
      required:
      - id
      - name
      - plan_tier
    MeResponse:
      type: object
      description: Account information associated with the API key
      properties:
        id:
          type: string
          format: uuid
          description: Membership ID
        role:
          type: string
          description: Role within the account (e.g. owner, admin, member)
        archived:
          type: boolean
        user:
          type: object
          description: The authenticated user
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            email:
              type: string
              format: email
            has_google_registration:
              type: boolean
            first_name:
              type: string
            preferences:
              type: object
              properties:
                sales_document:
                  type: boolean
                time_zone:
                  type: string
                smart_fields:
                  type: boolean
          required:
          - id
          - name
          - email
        account:
          $ref: '#/components/schemas/AccountInfoResponse'
        workspace:
          $ref: '#/components/schemas/AccountInfoResponse'
        contact:
          type: object
          description: The contact record for the authenticated user
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
              format: email
            name:
              type: string
            company_name:
              type: string
              nullable: true
            phone_number:
              type: string
              nullable: true
            alt_phone_number:
              type: string
              nullable: true
            website:
              type: string
              nullable: true
            initials:
              type: string
            archived:
              type: boolean
          required:
          - id
          - email
          - name
      required:
      - id
      - role
      - user
      - account
      - workspace
      - contact
    RateLimitErrorResponse:
      type: object
      description: Rate limit exceeded error response (HTTP 429)
      properties:
        error:
          type: string
          description: Rate limit error message indicating the limit and reset time
      required:
      - error
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        message:
          type: string
          description: Human-readable error message
        meta:
          type: object
          properties:
            error:
              type: string
              description: Error code identifier
            message:
              type: string
              description: Detailed error message
            messages:
              type: array
              items:
                type: string
              description: List of error messages
          required:
          - error
          - message
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
